@model SampleMvcAP.Models.BugModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BugModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BugTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BugTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BugDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BugDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubmittedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubmittedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BugID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
